.section{
    width: 100%;
    height: auto;
}
.section__menu{
    background-color: white;
    border-bottom: .02rem solid rgba(0, 0, 0, .2);
}
.icon--search{
    border: .123rem solid var(--color-back-dark);
}
.icon--search::after{
    background-color: var(--color-back-dark);
}
.input-search{
    color: var(--color-back-dark);
    background-color: rgba(0, 0, 0, .2);
}
.icon--menu{
    
}
.menu--mobil, .menu--mobil::after, .menu--mobil::before {
 background-color: var(--color-back-dark);   
}
.header-product{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    text-align: center;
    row-gap: .4rem;
}
.content-header-product{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
}
.img-product-model{   
    object-fit: contain;
    height: 250px;
    width: 250px;    
}
.h1-header-product{        
    color: var(--color-dark-gray); 
    font-size: .8em;   
}
.h2-header-product{
    color: var(--color-back-dark);
    font-size: 1em;   
}
.span-header-product::before{
    content: "$";
}
.body-product{    
    width: 100%;        
}
.card-product{        
    display: flex;
    width: 100%;    
    overflow-x: scroll;
    gap: .7rem;        
}
.product-item{
    margin: .5rem 0;
    background: linear-gradient(to top, var(--color-dark-gray) 0%, var(--color-gray-light) 100%);    
}
.product-item:first-of-type{
    margin-left: 1rem;
}
.product-item:last-of-type{
    padding-right: .7rem;
}
.radio{
    display: none;
}
.footer-product{
    margin: .5rem auto;
    display: flex;
    gap: .4rem;
    justify-content: center;
}
.radio-label{
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;    
}
.radio-label[color~="white"]{
    border: .01rem solid var(--color-dark-gray);
}

.radio-label{
    /* background-color: att(); */
    background-color: attr(color);
}
.radio:checked + .radio-label::after{
    display: block;
    content: "";
    position: relative;
    top: 28%;
    transform: rotate(-45deg);
    margin: auto;
    height: .3rem;
    width: .6rem;
    border-bottom: .13rem solid white;
    border-left: .13rem solid white;
}
.radio:checked +.radio-label[color~="white"]::after{
    border-bottom: .15rem solid black;
    border-left: .15rem solid black;
}
.hr{
    width: auto;    
    border-top:.02rem solid rgba(0, 0, 0, .2);    
}

.general-stars{
    display: flex;
    /* border: .123rem solid rgba(0, 0, 0, .3);
    border-radius:10rem; */
    margin: 1rem .9rem;
    width: auto;
    justify-content: center;
    overflow: hidden;
}
.content-stars{
    display: flex;
    
    gap: .2rem;
    align-items: center;
    border: .12rem solid rgba(0, 0, 0, .3);
    border-top-left-radius:10rem;
    border-bottom-left-radius: 10rem;
    border-right: none;
    padding: .5rem .8rem;
}
.content-stars:not(.span-stars){
    direction: rtl;
}

.hl{
    width: 0.1rem;
    height: auto;
    position: relative;    
    background-color: rgba(0, 0, 0, .3);
}
.content-shared{
    display: inline-flex;
    gap: .9rem;
    border: .12rem solid rgba(0, 0, 0, .3);
    border-left: none;
    border-top-right-radius:10rem;
    border-bottom-right-radius: 10rem;
    padding: .5rem .8rem;
}

.label-star{
    display: block;
    width: 1.2rem;
    margin: auto;
    height: 1.2rem;
    background-color: rgba(0, 0, 0, .3);
    /* clip-path: polygon(50% 0%, 67% 25%, 98% 35%, 76% 59%, 79% 91%, 49% 80%, 21% 91%, 26% 59%, 2% 35%, 34% 25%); */
    clip-path: polygon(51% 0, 68% 25%, 100% 38%, 81% 65%, 85% 100%, 49% 84%, 13% 100%, 19% 62%, 0 37%, 32% 28%);
}
.span-stars{    

    color: rgba(0, 0, 0, .3);
    font-size:.8em;
}
.span-shared{
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, .9);
    font-size: .9em;    
}
.span-shared::before{
    display: inline-block;    
    content: "";
    padding-right: .5rem;
    height: .8rem;
    width: 1rem;
    margin:.1rem auto;
    background-image: url(../icons/shared.svg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;    
}
.link__shared{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.radio-start:checked ~ .label-star{
    background-color: var(--color-yellow-intense);
}
