body{
    background-color: white;
}
.section__menu{
    background-color: var(--color-blue-primary);
}
.section{
    width: 100%;
    height: auto;
}
.nav-store{
    padding-top: 3rem;
    background-color: var(--color-blue-primary);        
}
.content{
    display: flex;
}
.nav--store{    
    flex-direction: column;
    text-align: center;
    row-gap: 1rem;        
}
.h1--store{
    margin: revert;  
    color: var(--color-gray-light);  
}
.span--store{
    color: var(--color-gray-light);  
    margin-bottom: 2.4rem;
}
.type-order{ 

}
.type--order{    
    display: flex;        
}
.order{           
    height: 1.4rem;    
    width: 100%;
    border-bottom: .2rem solid transparent;
    padding: .6rem 0;     
}
.order.active{
    
}
.order:not(:first-child){
    border-left: .15rem solid var(--color-dark-gray);
}
.img--type-order.active{
    filter: initial;
}
.order:nth-child(n){
    background-repeat: no-repeat;    
    background-position: center;
    background-size: 1.3rem;
}
.order:nth-of-type(1){
    background-image: url(../img/store/ajustar.svg);    
}
.order:nth-of-type(2){
    background-image: url(../img/store/senal.svg);    
}
.order:nth-of-type(3){    
    background-image: url(../img/store/rectangular.svg);    
}
.order:nth-of-type(4){
    background-image: url(../img/store/cuadricula.svg);    
}
.radio-filter:checked + .order{
    border-bottom: .18rem solid var(--color-blue-primary);    
}
.produtcs--items{
    display: grid;
    grid-template-columns: repeat(2,minmax( 160px, 1fr));
    grid-auto-rows: auto;     
    grid-auto-flow   : row  dense;    
}
.product-info{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.item{
    border: .002rem solid rgba(0, 0, 0, .2) ;
}
.product-title{
    font-size: .5em;
    margin: .8rem;
    color: var(--color-light-black);
}
.img--product{
    object-fit: cover;
    width: 100%;        
    height: 200px;    
}
.product--info{
    display: flex;    
    justify-content: space-between;
    width: auto;
    margin: .8em;
    gap: .4em;
}
.info{
    display: flex;
    align-items: center;
    margin: 1rem auto;
}
.product--sale{
    justify-content: center;
    text-align: center;
    color: white;
    width: 4rem;
    height: 1.5rem;
    clip-path: polygon(0% 0%, 84% 0, 100% 50%, 84% 100%, 0% 100%);
    font-size: .8em;
}
.product--sale[title~=""]{
    background-color: transparent;
}
.product--sale[title~="sale-alert"]{
    background-color: var(--color-yellow-intense);
    
}
.product--sale[title~="sale-warning"]{
    background-color: var(--color-red-intense);    
}
.product--price::before{
    content: "$";
}
.h1.info{
    font-size:1.2em;
}
.h2.info{
    color: var(--color-dark-gray);
    text-decoration: line-through;    
    font-size:1em;
}