:root{
    /* Relative icon size */
    --height-icon-menu: .050rem;
    --width-icon-menu:.75rem;
    --height-spacing--icon-menu:.25rem;        
    /* Light gray */
    --color-blue-primary:#1F4BA4;
    --color-gray-light :#F2F2F2;
}
@font-face{
    font-family: 'valera';
    src: url(../fonts/VarelaRound-Regular.ttf);
    font-display: block;
}
body{
    margin: 0;
    padding: 0;
    font-family:'valera' ,Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    height: auto;
    /* height: 100vh; */
}
a,h1,span,p{
    margin: 0;
    padding: 0;    
}
.img{    
    box-sizing: border-box;
    object-fit: cover;        
    height: 100%;
}
.container__feactured{    
    width: calc(100vw - (100vw - 100%));    
    /* height: 100vh; */
}
.section__menu{
    background-color: transparent;
    z-index: 10;
    height: 3rem;
    position: fixed;    
    width: 100%;    
}
/* Animate css */
/* Start Menu-mobil */
@keyframes mobil-start{
    0%{                     
        background: radial-gradient(circle, transparent 45%, var(--color-gray-light) 55%);      
    }
    50%{                
        background: radial-gradient(circle, transparent 35%, var(--color-gray-light) 65%);      
    }
    70%{                
        background: radial-gradient(circle, transparent 45%, var(--color-gray-light) 75%);      
    }
    90%{                
        background: radial-gradient(circle, transparent 5%, var(--color-gray-light) 95%);      
    }
    100%{                
        background-color: transparent;
    }
}
@keyframes mobil-before-start{
    0%{
        top: calc(var(--height-spacing--icon-menu) * -1);    
    }
    30%{
        top: calc(var(--height-spacing--icon-menu) * -.8);    
        transform: rotate(5deg) ;
    }
    50%{
        top: calc(var(--height-spacing--icon-menu) * -.5);    
        transform: rotate(15deg) ;
    }
    60%{
        top: calc(var(--height-spacing--icon-menu) * -.4);    
        transform: rotate(25deg) ;
    }
    70%{
        top: calc(var(--height-spacing--icon-menu) * -.3);    
        transform: rotate(35deg) ;
    }
    100%{                
        top: calc(var(--height-spacing--icon-menu) * -.04);    
        transform: rotate(45deg) ;
    }
}
@keyframes mobil-after-start{
    0%{
        top: calc(var(--height-spacing--icon-menu) * 1);    
    }
    30%{        
        top: calc(var(--height-spacing--icon-menu) * .8);    
        transform: rotate(-5deg) ;
    }
    50%{
        top: calc(var(--height-spacing--icon-menu) * .5);    
        transform: rotate(-15deg) ;
    }
    60%{
        top: calc(var(--height-spacing--icon-menu) * .4);    
        transform: rotate(-25deg) ;
    }
    70%{
        top: calc(var(--height-spacing--icon-menu) * .3);    
        transform: rotate(-35deg) ;
    }
    100%{        
        top: calc(var(--height-spacing--icon-menu) * -.2);    
        transform: rotate(-45deg) ;
    }
}
/* End Menu-mobil */
@keyframes mobil-before-end{
    0%{
        top: calc(var(--height-spacing--icon-menu) * -1);    
    }
    30%{
        top: calc(var(--height-spacing--icon-menu) * -.8);    
        transform: rotate(5deg) ;
    }
    50%{
        top: calc(var(--height-spacing--icon-menu) * -.5);    
        transform: rotate(15deg) ;
    }
    60%{
        top: calc(var(--height-spacing--icon-menu) * -.4);    
        transform: rotate(25deg) ;
    }
    70%{
        top: calc(var(--height-spacing--icon-menu) * -.3);    
        transform: rotate(35deg) ;
    }
    100%{        
        top: calc(var(--height-spacing--icon-menu) * -.04);    
        transform: rotate(45deg) ;
    }
}
@keyframes mobil-after-end{
    0%{
        top: calc(var(--height-spacing--icon-menu) * 1);    
    }
    30%{        
        top: calc(var(--height-spacing--icon-menu) * .8);    
        transform: rotate(-5deg) ;
    }
    50%{
        top: calc(var(--height-spacing--icon-menu) * .5);    
        transform: rotate(-15deg) ;
    }
    60%{
        top: calc(var(--height-spacing--icon-menu) * .4);    
        transform: rotate(-25deg) ;
    }
    70%{
        top: calc(var(--height-spacing--icon-menu) * .3);    
        transform: rotate(-35deg) ;
    }
    100%{        
        top: calc(var(--height-spacing--icon-menu) * -.2);    
        transform: rotate(-45deg) ;
    }
}
@keyframes mobil-end{
    0%{                     
        background: radial-gradient(circle, transparent 45%, var(--color-gray-light) 55%);      
    }
    50%{        
        
        background: radial-gradient(circle, transparent 35%, var(--color-gray-light) 65%);      
    }
    70%{                
        background: radial-gradient(circle, transparent 45%, var(--color-gray-light) 75%);      
    }
    90%{        
        background: radial-gradient(circle, transparent 5%, var(--color-gray-light) 95%);               
    }
    100%{                
        background-color: transparent;
    }
}
/* Menu icon */
.none{
    display: none;
}
/* Start Menu-mobil checked */
.input--check:checked + .menu--mobil::before{        
    animation: mobil-before-start .3s forwards;        
}
.input--check:checked + .menu--mobil::after{
    animation: mobil-after-start .3s forwards;              
}
.input--check:checked + .menu--mobil{    
    /*background-color: blue;*/
    transform: scale(1.5);          
    animation: mobil-start .4s forwards;        
}
/* End Menu-mobil checked */
.input--check:not(:checked) + .menu--mobil::before{      
    animation: mobil-before-end .3s reverse; 
}
.input--check:not(:checked) + .menu--mobil::after{      
    animation: mobil-after-end .3s reverse; 
}
.input--check:not(:checked) + .menu--mobil{    
    /*background-color: blue;*/
    transform: scale(1.5);          
    animation: mobil-end .4s reverse;        
}
/* End Menu-mobil */
.menu--mobil{
    background: var(--color-gray-light);
    height: var(--height-icon-menu);
    margin: auto 0;    
    width: var(--width-icon-menu);    
}
.menu--mobil::before{        
    background-color:var(--color-gray-light);
    content: "";
    display: flex;
    height: var(--height-icon-menu);
    position: relative;        
    top: calc(var(--height-spacing--icon-menu) * -1);    
    width: var(--width-icon-menu);    
}
.menu--mobil::after{
    background-color:var(--color-gray-light);
    content: "";
    display: block;
    height: var(--height-icon-menu);
    position: relative;        
    top: calc(var(--height-spacing--icon-menu) - var(--height-icon-menu));
    width: var(--width-icon-menu);        
}
/* Nav */
.content--menu{
    display: flex;    
    position: relative;
    height: 1.4rem;    
    margin:.8rem 1rem;    
    width: auto;
    justify-content: space-between;
}
.menu--icons{
    display: flex;    
    height: auto;
    width: 20%;
    justify-content: space-between;
}
/* Icon search */
.icon--search{    
    height: 1.1rem;    
    width: 1.05rem;
    border: .025rem solid var(--color-gray-light);
    border-radius: 50%;
}
.icon--search::after{
    display: block;
    content: "";    
    position: relative;
    top: 1.1rem;
    left: .9rem;
    height: .1rem;
    width: .45rem;
    background-color: var(--color-gray-light);
    transform: rotate(45deg);
}
.section__content{
    display: flex;          
}
.content--body{
    display: flex;    
    position: absolute;
    height: 100%;
    
}
.content--foot{
    display: flex;
    flex-direction: column;
    row-gap: .9rem;
    text-align: center;
    position: absolute;          
    bottom: 0;
    margin: 3rem;
}
.items--points{
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem ;
}
.item--primary-card{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.item--primary-card{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.h1.foot{
    color: var(--color-gray-light);
    font-weight: 700;
}
.span.foot.title{
    font-weight: 600;
    line-height: 2rem;    
    letter-spacing: -.04rem;
    color: var(--color-gray-light);
}
.span.foot{
    font-weight: 400;
    color: rgba(242, 242, 242, .5);
}
.a{
    text-decoration: none;    
    color: var(--color-gray-light);
}
.button{
    display: block;        
    width: 13rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 30px;
    margin: auto;
    background-color: var(--color-blue-primary);
}