.section{
    width: 100%;
    height: auto;
}
.section__menu{
    background-color: white;
    border-bottom: .02rem solid rgba(0, 0, 0, .2);
}
.icon--search{
    border: .123rem solid var(--color-back-dark);
}
.icon--search::after{
    background-color: var(--color-back-dark);
}
.input-search{
    color: var(--color-back-dark);
    background-color: rgba(0, 0, 0, .2);
}
.icon--menu{
    
}
.menu--mobil, .menu--mobil::after, .menu--mobil::before {
 background-color: var(--color-back-dark);   
}
.menu--icons{
    width: initial;
}

/* Header section */
.header--search{
    padding-top: 3rem;
    width: 100%;
}
.content--search{
    margin: 1rem .9rem;    
}
.input--trackorder{
    outline: none;
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
    border-radius: .3rem;
    border: .1rem solid rgba(0, 0, 0, .1); 
    background-image: url(../icons/search-solid.svg);   
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2rem;
    background-position-x: 97%;    
    color: rgba(0, 0, 0, .8);
    letter-spacing: .1rem;
}

.input--trackorder:focus{
    border: .19rem solid rgba(0, 0, 0, .1);
}
.section{
    width: 100%;
}
.content-order{
    margin: 1rem .9rem;
}

.data--order{
    display: flex;
    justify-content: space-between;
    
}
.h1-order{
    font-size: .8rem;
    color: rgba(0, 0, 0, .2);
}
.span--order{
    display: flex;
    align-items: center;
    font-size: .8rem;
    color: rgba(0, 0, 0, .8);
}
.link{
    text-decoration: none;
    color: var(--color-blue-primary);
}
.icon-clock{    
    margin: 0 .5rem;
    height: 1rem;
}
.footer-order{
    display: flex;            
}
.hr-footer{
    margin: 0;
}
.h2-date-footer, .h2-order-amount-footer{
    margin: .2rem auto;
    font-size: .9rem;
}
.h2-date-footer{
    color: var(--color-blue-primary);
}
.h2-order-amount-footer::before{
    content: "$";
}
.date--footer{
    margin: 1rem .9rem;
    width: 49%;
}
/* Bar vertical loading  */
.container-bar-loading{
    width: 100%;
}
.content-bar-loading{
    display: flex;    
    flex-direction: column;
    align-items: center;
    margin: 1rem .9rem;
    height: auto;    
}

:root{
    /*blocks loading   */
    /* Enable */
    --height-block: 2.5rem;
    --widht-block:2.5rem;
    --bor-block: .123rem;
    /*BAR LOADING  */
    /* Number blocks */
    --blocks--loading: 7;
    /* Enable */
    --height--bar: calc((var(--blocks--loading) * 4.1rem) + var(--height-block) );
    /* Not enable */
    --widht--bar:.5rem;
}

.bar-loading{    
   /*  display: flex;                */
    /* flex-direction: column; */
    height: calc(var(--height--bar) + var(--height-block) ) ;    
    width: var(--widht--bar);
    border-left: .123rem solid rgba(0, 0, 0, .2);
    border-right: .123rem solid rgba(0, 0, 0, .2);
    border-radius: calc(var(--widht--bar) * 0.5);    
/*     justify-content: space-between;                 */
}
.block{    
    position: relative;    
    /* z-index: 0; */
    width:var(--widht-block);
    height:var(--height-block);
    border: var(--border-block) solid rgba(0, 0, 0, .2);
    margin-bottom: calc( (var(--height--bar) / var(--blocks--loading)) - var(--height-block) - calc(var(--bor-block)*2));        
    left: calc( calc(var(--widht-block)/2) * -.98 ) ;
    border-radius: 100%;
    background-color: white;
    border: var(--bor-block) solid rgba(0, 0, 0, .2);            
    padding: .1rem;
}
.block.check::before{
    display: block;
    z-index: 1;
    content: "";
    position: absolute;    
    width: var(--widht-block);
    height: var(--height-block);        
    transform: scale(.8);
    border-radius: 100%;
    /* margin-left: calc( var(--widht-block) * .0085) ; */
    margin: auto;
    background-color: var(--color-yellow-intense);    
}

.block::after{
    display: flex;    
    z-index: 1;
    position: relative;
    content: "";
    background-color: white;
    height: calc(var(--height-block));    
    top: calc(var(--height-block) * 1);      
    /* top: calc(var(--height-block) * 1);     */
    margin: auto;    
    width:  calc(var(--widht--bar) * 1.06);    
}
.block.check:nth-of-type(n)::after{        
    top: calc(var(--height-block) * 1);      
    background-color: white;    
}
.block:nth-of-type(2)::after{
    background-color: transparent;
}
.block.check.active{
    z-index: 2; 
    border: var(--bor-block) solid var(--color-yellow-intense);
}
.block.check.active::before{        
    transform: scale(.5);
}
.block.check.active  ~ .block{
    z-index: 2;
    background-color: white;    
}
.block.check.active ~ .block::after{
    z-index: -1;
    background-color: white;
    top: calc(var(--height-block)  * -.9)  ;
}
.block.check.active + .block::after{    
    background-color: white;
    top: calc(var(--height-block)  * -.788)  ;
}
.block.block.check.active::after{    
    background-color: transparent;
}
.line-blocks{
    position: absolute;    
    z-index: 2;
    height: calc(var(--height--bar) + var(--height-block)) ;    
    width: calc(var(--widht--bar) * .4) ;
    background-color: var(--color-yellow-intense);    
    margin-top: calc(var(--height-block)/ 2);
    margin-left: calc(var(--widht--bar) * .3) ;
}
.data-block{
    position: absolute;    
    width: 7rem;    
    margin-left: -8rem;
    font-size: .8rem;
    color:rgba(0, 0, 0, .2);
}
.info-block{
    position: absolute;    
    width: 7rem;    
    margin-top: -.2rem;
    margin-left: 4rem;
}
.block-info{
    font-size: .7rem;
    line-height: .6rem;
    
}
.block-info::after{
    display: block;
    content: attr(attr-data);
    color:rgba(0, 0, 0, .3);
}
.group-buttons{
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
}
.button-order{
    width: 7rem;
    background-color: white;
    border: .123rem solid var(--color-blue-primary);
    text-align: center;
}